
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #FCECDD;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
  font-size: 3.75em;
  color: #FB9300;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: #FB9300;
  font-weight: normal;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: #FF7600;
}

hr {
  margin: 100px auto;
  width: 3%;
  border-style: dotted;
  border-bottom: none;
  border-width: 6px;
  border-color: silver;
}

p {
  line-height: 2;
}

a {
  color: #FF7600;
  text-decoration: none;
}

a:hover {
  color: white;
}

.top {
  background-color: #FBC6A4;
  position: relative;
  padding-top: 100px;
  height: 600px;
}

.mid {
  margin: 50px auto;
}

.bot {
  margin-top: 10px;
  padding: 40px;
  background-color: #FFC996;
}

.pro {
  text-decoration: underline;
}

.cloud1 {
  position: absolute;
  right: 400px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.mount {
  position: absolute;
  left: 500px;
  bottom: 5px;
}

.skill-row {
  width: 50%;
  text-align: left;
  overflow: auto;
  margin: 70px auto;
}

.pfp {
  margin-top: 20px;
  height: 250px;
  width: 250px;
}

.prog {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 100px;
}

.wd {
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 100px;
}

.btn {
   background: #F6823D;
   background-image: -webkit-linear-gradient(top, #F6823D, #EB881E);
   background-image: -moz-linear-gradient(top, #F6823D, #EB881E);
   background-image: -ms-linear-gradient(top, #F6823D, #EB881E);
   background-image: -o-linear-gradient(top, #F6823D, #EB881E);
   background-image: -webkit-gradient(to bottom, #F6823D, #EB881E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Georgia;
   font-size: 18px;
   font-weight: 100;
   padding: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.btn:hover {
   border: solid #F6823D 1px;
   background: white;
   border-radius: 20px;
   text-decoration: none;
   color: #F6823D;
}

.exit {
  margin-top: 30px;
  color: white;
  font-size: 14px;
}

.footer-link {
  padding: 20px;
  text-align: center;
}
