body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
  font-family: Poppins, sans-serif;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5%;
  height: 2.5rem;
  background-color: whitesmoke;
  box-shadow: 0 0 5px grey;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.logo:hover {
  color: seagreen;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-left: 2.5rem;
}

.navbar a {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: .2s;
}

.active, .navbar a:hover{
  color: seagreen;
  border-bottom: .2rem solid seagreen;
  padding: .5rem 0;
}
